# Scroll Down for Questions

In [6]:
from datascience import *
import numpy as np
%matplotlib inline

In [7]:
t = Table.read_table("shot_logs.csv")
t

GAME_ID  | MATCHUP                    | LOCATION | W    | FINAL_MARGIN | SHOT_NUMBER | PERIOD | GAME_CLOCK | SHOT_CLOCK | DRIBBLES | TOUCH_TIME | SHOT_DIST | PTS_TYPE | SHOT_RESULT | CLOSEST_DEFENDER  | CLOSEST_DEFENDER_PLAYER_ID | CLOSE_DEF_DIST | FGM  | PTS  | player_name   | player_id
21400899 | MAR 04, 2015 - CHA @ BKN   | A        | W    | 24           | 1           | 1      | 1:09       | 10.8       | 2        | 1.9        | 7.7       | 2        | made        | Anderson, Alan    | 101187                     | 1.3            | 1    | 2    | brian roberts | 203148
21400899 | MAR 04, 2015 - CHA @ BKN   | A        | W    | 24           | 2           | 1      | 0:14       | 3.4        | 0        | 0.8        | 28.2      | 3        | missed      | Bogdanovic, Bojan | 202711                     | 6.1            | 0    | 0    | brian roberts | 203148
21400899 | MAR 04, 2015 - CHA @ BKN   | A        | W    | 24           | 3           | 1      | 0:00       | nan        | 3        | 2.7        | 10.1      | 2        | missed      | Bogdanovic, Bojan | 202711                     | 0.9            | 0    | 0    | brian roberts | 203148
21400899 | MAR 04, 2015 - CHA @ BKN   | A        | W    | 24           | 4           | 2      | 11:47      | 10.3       | 2        | 1.9        | 17.2      | 2        | missed      | Brown, Markel     | 203900                     | 3.4            | 0    | 0    | brian roberts | 203148
21400899 | MAR 04, 2015 - CHA @ BKN   | A        | W    | 24           | 5           | 2      | 10:34      | 10.9       | 2        | 2.7        | 3.7       | 2        | missed      | Young, Thaddeus   | 201152                     | 1.1            | 0    | 0    | brian roberts | 203148
21400899 | MAR 04, 2015 - CHA @ BKN   | A        | W    | 24           | 6           | 2      | 8:15       | 9.1        | 2        | 4.4        | 18.4      | 2        | missed      | Williams, Deron   | 101114                     | 2.6            | 0    | 0    | brian roberts | 203148
21400899 | MAR 04, 2015 - CHA @ BKN   | A        | W    | 24           | 7           | 4      | 10:15      | 14.5       | 11       | 9          | 20.7      | 2        | missed      | Jack, Jarrett     | 101127                     | 6.1            | 0    | 0    | brian roberts | 203148
21400899 | MAR 04, 2015 - CHA @ BKN   | A        | W    | 24           | 8           | 4      | 8:00       | 3.4        | 3        | 2.5        | 3.5       | 2        | made        | Plumlee, Mason    | 203486                     | 2.1            | 1    | 2    | brian roberts | 203148
21400899 | MAR 04, 2015 - CHA @ BKN   | A        | W    | 24           | 9           | 4      | 5:14       | 12.4       | 0        | 0.8        | 24.6      | 3        | missed      | Morris, Darius    | 202721                     | 7.3            | 0    | 0    | brian roberts | 203148
21400890 | MAR 03, 2015 - CHA vs. LAL | H        | W    | 1            | 1           | 2      | 11:32      | 17.4       | 0        | 1.1        | 22.4      | 3        | missed      | Ellington, Wayne  | 201961                     | 19.8           | 0    | 0    | brian roberts | 203148
... (128059 rows omitted)

In [8]:
def proc(row):
    i = row.item("MATCHUP").split("- ")[1]
    v = row.item("LOCATION")
    if "vs." in i:
        h = i.split(" vs. ")[0]
        a = i.split(" vs. ")[1]
    else:
        h = i.split(" @ ")[1]
        a = i.split(" @ ")[0]
    if v == "A":
        return a
    else:
        return h 
    f+=1

t = t.with_column("team", t.apply(proc))

In [9]:
t

GAME_ID  | MATCHUP                    | LOCATION | W    | FINAL_MARGIN | SHOT_NUMBER | PERIOD | GAME_CLOCK | SHOT_CLOCK | DRIBBLES | TOUCH_TIME | SHOT_DIST | PTS_TYPE | SHOT_RESULT | CLOSEST_DEFENDER  | CLOSEST_DEFENDER_PLAYER_ID | CLOSE_DEF_DIST | FGM  | PTS  | player_name   | player_id | team
21400899 | MAR 04, 2015 - CHA @ BKN   | A        | W    | 24           | 1           | 1      | 1:09       | 10.8       | 2        | 1.9        | 7.7       | 2        | made        | Anderson, Alan    | 101187                     | 1.3            | 1    | 2    | brian roberts | 203148    | CHA
21400899 | MAR 04, 2015 - CHA @ BKN   | A        | W    | 24           | 2           | 1      | 0:14       | 3.4        | 0        | 0.8        | 28.2      | 3        | missed      | Bogdanovic, Bojan | 202711                     | 6.1            | 0    | 0    | brian roberts | 203148    | CHA
21400899 | MAR 04, 2015 - CHA @ BKN   | A        | W    | 24           | 3           | 1      | 0:00       | nan        | 3        | 2.7        | 10.1      | 2        | missed      | Bogdanovic, Bojan | 202711                     | 0.9            | 0    | 0    | brian roberts | 203148    | CHA
21400899 | MAR 04, 2015 - CHA @ BKN   | A        | W    | 24           | 4           | 2      | 11:47      | 10.3       | 2        | 1.9        | 17.2      | 2        | missed      | Brown, Markel     | 203900                     | 3.4            | 0    | 0    | brian roberts | 203148    | CHA
21400899 | MAR 04, 2015 - CHA @ BKN   | A        | W    | 24           | 5           | 2      | 10:34      | 10.9       | 2        | 2.7        | 3.7       | 2        | missed      | Young, Thaddeus   | 201152                     | 1.1            | 0    | 0    | brian roberts | 203148    | CHA
21400899 | MAR 04, 2015 - CHA @ BKN   | A        | W    | 24           | 6           | 2      | 8:15       | 9.1        | 2        | 4.4        | 18.4      | 2        | missed      | Williams, Deron   | 101114                     | 2.6            | 0    | 0    | brian roberts | 203148    | CHA
21400899 | MAR 04, 2015 - CHA @ BKN   | A        | W    | 24           | 7           | 4      | 10:15      | 14.5       | 11       | 9          | 20.7      | 2        | missed      | Jack, Jarrett     | 101127                     | 6.1            | 0    | 0    | brian roberts | 203148    | CHA
21400899 | MAR 04, 2015 - CHA @ BKN   | A        | W    | 24           | 8           | 4      | 8:00       | 3.4        | 3        | 2.5        | 3.5       | 2        | made        | Plumlee, Mason    | 203486                     | 2.1            | 1    | 2    | brian roberts | 203148    | CHA
21400899 | MAR 04, 2015 - CHA @ BKN   | A        | W    | 24           | 9           | 4      | 5:14       | 12.4       | 0        | 0.8        | 24.6      | 3        | missed      | Morris, Darius    | 202721                     | 7.3            | 0    | 0    | brian roberts | 203148    | CHA
21400890 | MAR 03, 2015 - CHA vs. LAL | H        | W    | 1            | 1           | 2      | 11:32      | 17.4       | 0        | 1.1        | 22.4      | 3        | missed      | Ellington, Wayne  | 201961                     | 19.8           | 0    | 0    | brian roberts | 203148    | CHA
... (128059 rows omitted)

In [10]:
first_game_first_quarter = t

shots = first_game_first_quarter.sort("GAME_ID")
shots = shots.with_column("MINUTES", [int(i.split(":")[0]) for i in  shots.column("GAME_CLOCK")], "SECONDS", [int(i.split(":")[1]) for i in  shots.column("GAME_CLOCK")],)
shots = shots.with_column("HOME", "NOP", "AWAY", "ORL")
shots = shots.select("GAME_ID", "PERIOD", "PTS_TYPE", "SHOT_RESULT", "player_name", "team", "MINUTES", "SECONDS")

#shots = shots.with_column("team", ["POR" if i == "H" else "LAC" for i in  shots.column("LOCATION") ]).drop("LOCATION")
shots = shots.sort("MINUTES", descending=True).relabel("PERIOD", "QUARTER").relabel("PTS_TYPE", "shot_value")

# Shoot Your Shot
The `shots` table provided has information for every shot taken (including free throws) in the 2014-2015 NBA season.

Assume that this table contains the information regarding every single point scored in every game in the season.

Teams that score the most points win.

`GAME_ID` is a unique identifier for each game. Each team has a unique three letter code. Some rows from shots are shown below:

In [11]:
shots

GAME_ID  | QUARTER | shot_value | SHOT_RESULT | player_name       | team | MINUTES | SECONDS
21400533 | 3       | 2          | missed      | klay thompson     | GSW  | 12      | 0
21400431 | 3       | 2          | missed      | klay thompson     | GSW  | 12      | 0
21400406 | 2       | 2          | made        | gerald green      | PHX  | 12      | 0
21400908 | 4       | 2          | made        | chris kaman       | POR  | 11      | 47
21400908 | 2       | 2          | made        | chris kaman       | POR  | 11      | 35
21400908 | 3       | 2          | missed      | lamarcus aldridge | POR  | 11      | 1
21400908 | 3       | 2          | made        | lamarcus aldridge | POR  | 11      | 29
21400908 | 3       | 2          | missed      | lamarcus aldridge | POR  | 11      | 35
21400908 | 1       | 2          | made        | lamarcus aldridge | POR  | 11      | 44
21400908 | 2       | 2          | missed      | spencer hawes     | LAC  | 11      | 10
... (128059 rows omitted)

## Question One
Assign winners to a table of team names and the number of games they won.

In [8]:
points = ___.____(____, ____).select("GAME_ID", "PTS_TYPE", "team")
scores = ____.___(make_array(____,____), ___)
sorted_table = ___.____(____, descending=True).____(____)
winners = ____.____(____(____, sorted_table.num_rows, ____)).____(____).____(____, ________)
winners

AttributeError: 'Table' object has no attribute '____'

In [13]:
points = shots.where("SHOT_RESULT", "made").select(0, 2, "team")
scores = points.group(make_array("GAME_ID","team"), sum)
scores.sort("shot_value sum", descending=True)

GAME_ID  | team | shot_value sum
21400741 | GSW  | 109
21400451 | SAC  | 104
21400442 | PHX  | 104
21400382 | GSW  | 104
21400257 | DAL  | 104
21400248 | LAL  | 104
21400234 | LAL  | 104
21400636 | GSW  | 103
21400550 | LAC  | 103
21400302 | WAS  | 103
... (1798 rows omitted)

In [14]:
scores.sort("GAME_ID")

GAME_ID  | team | shot_value sum
21400001 | NOP  | 75
21400001 | ORL  | 62
21400002 | DAL  | 67
21400002 | SAS  | 88
21400003 | HOU  | 56
21400003 | LAL  | 54
21400004 | CHA  | 88
21400004 | MIL  | 63
21400005 | IND  | 80
21400005 | PHI  | 19
... (1798 rows omitted)

In [15]:
scores.sort("shot_value sum", descending=True).sort('GAME_ID')

GAME_ID  | team | shot_value sum
21400001 | NOP  | 75
21400001 | ORL  | 62
21400002 | SAS  | 88
21400002 | DAL  | 67
21400003 | HOU  | 56
21400003 | LAL  | 54
21400004 | CHA  | 88
21400004 | MIL  | 63
21400005 | IND  | 80
21400005 | PHI  | 19
... (1798 rows omitted)

In [17]:
scores.sort('GAME_ID').sort("shot_value sum", descending=True)

GAME_ID  | team | shot_value sum
21400741 | GSW  | 109
21400451 | SAC  | 104
21400442 | PHX  | 104
21400382 | GSW  | 104
21400257 | DAL  | 104
21400248 | LAL  | 104
21400234 | LAL  | 104
21400636 | GSW  | 103
21400550 | LAC  | 103
21400302 | WAS  | 103
... (1798 rows omitted)

In [9]:
points = shots.where("SHOT_RESULT", "made").select(0, 2, "team")
scores = points.group(make_array("GAME_ID","team"), sum)
sorted_table = scores.sort("PTS_TYPE sum", descending=True).sort("GAME_ID")
winners = sorted_table.take(np.arange(0, sorted_table.num_rows, 2)).group("team").sort(1, descending=True)
winners

team | count
LAC  | 48
GSW  | 47
ATL  | 47
WAS  | 46
MEM  | 42
PHX  | 39
CHA  | 37
TOR  | 35
SAC  | 35
ORL  | 34
... (20 rows omitted)

## Question 2
Which player averaged the most points in this season? (pts/game).

You can tell if a player played a game based on if they took a shot in it or not.

The justification for this is that it is very unlikely that a player who has a game in which they never took a shot would be in contention for the most points per game.

In [10]:
player_points = _____._____(_____, _____).____(_____, _____)

def count_games(player_name):
    """Count the number of games a player played based on if they took a shot."""
    players_shots = shots._____(______, _____)
    return ______.________.num_rows

players = shots._____(_____)
games_played = players.with_column("Games Played", _____.______(______, _______))

combined = player_points._______(_____, _____)
avgd = combined.with_column("avg_pts", _______._____(_____) __ _____.______(_____))
scoring_leader = avgd._____(_____,_____)._____(_____).____(__)
scoring_leader

SyntaxError: invalid syntax (<ipython-input-10-39a7870c275a>, line 12)

In [11]:
player_points = shots.where("SHOT_RESULT", "made").group("player_name", sum)

def count_games(player_name):
    """Count the number of games a player played based on if they took a shot."""
    players_shots = shots.where("player_name", player_name)
    return players_shots.group("GAME_ID").num_rows

players = shots.group("player_name")
games_played = players.with_column("Games Played", players.apply(count_games, "player_name"))

combined = player_points.join("player_name", games_played)
avgd = combined.with_column("avg_pts", combined.column("PTS_TYPE sum") / combined.column("Games Played"))
scoring_leader = avgd.sort("avg_pts", descending=True).column("player_name").item(0)
scoring_leader

'lebron james'